.App {
 box-sizing: border-box;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 100px;
}

.container{
  margin-top: 100px;
  background-color:'#FFFFFF';
  box-shadow:1px 1px 3px 1px rgb(216, 215, 215);
  height: 130px;
  width: 257px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 11px;
}

.buttonContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 900;
}

.buttonL ,.buttonR,.counter{
 width: 60px;
 height: 56px;
 font-size: 21px;
 font-weight: 900;
}
.counter{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  background-color: #FBE8E8;
  color: #B24242;
  border-top:solid 1px #B24242;
  border-bottom: solid 1px #B24242;
}
.buttonL{
  background-color: #FFFFFF;
  border-width: 1;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border:solid 1px #B24242;
  color: #B24242;
}
.buttonR{
  background-color: #B24242;
  border-width: 1;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border:solid 1px #B24242;
  color:#FFFFFF;

}
.value,.loader{
  font-size: 12px;
  font-weight: 500;
  font-family: Avenir;
}
.loader{
display: flex;
justify-content:space-evenly;
margin-left: 40px;
margin-right: 40px;
}

.value
{
  padding-left: 45px;
}
.no-loader{
visibility: hidden;
}

.input{
  background-color: #FBE8E8;
  border: none;
  margin-right: 10px;
  font-size: 21px;
 font-weight: 900;
 color: #B24242;
 text-align: center;
}

.buttonR,.buttonL,.input:hover{
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}